*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background: tomato;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 150, 132);
  } 